USE [master]
GO
/****** Object:  Database [NigeriaBasketballAssociation]    Script Date: 12/3/2025 8:57:19 PM ******/
CREATE DATABASE [NigeriaBasketballAssociation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NigeriaBasketballAssociation', FILENAME = N'E:\Downloads\SQL server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NigeriaBasketballAssociation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NigeriaBasketballAssociation_log', FILENAME = N'E:\Downloads\SQL server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NigeriaBasketballAssociation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NigeriaBasketballAssociation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NigeriaBasketballAssociation]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 12/3/2025 8:57:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[QueQuan] [nvarchar](200) NULL,
	[DanToc] [nvarchar](50) NULL,
	[TonGiao] [nvarchar](50) NULL,
	[SDT] [nvarchar](15) NULL,
	[TrinhDoChuyenMon] [nvarchar](100) NULL,
	[TrinhDoLLCT] [nvarchar](100) NULL,
	[DonViCongTac] [nvarchar](200) NULL,
	[ChucVu] [nvarchar](100) NULL,
	[CapBac] [nvarchar](100) NULL,
	[HeSoLuong] [float] NULL,
	[ChucDanh] [nvarchar](100) NULL,
	[HocHam] [nvarchar](100) NULL,
	[HocVi] [nvarchar](100) NULL,
	[LinhVucChuyenMon] [nvarchar](200) NULL,
	[NamDayGioi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoTrinh]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoTrinh](
	[MaGTTL] [int] IDENTITY(1,1) NOT NULL,
	[TenGTTL] [nvarchar](255) NULL,
	[MaSoGTTL] [nvarchar](50) NULL,
	[ChuyenNganh] [nvarchar](200) NULL,
	[CapDoDaoTao] [nvarchar](50) NULL,
	[Keywords] [nvarchar](300) NULL,
	[TongSoGioKhoaHoc] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGTTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoTrinh_TacGia]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoTrinh_TacGia](
	[MaGTTL] [int] NOT NULL,
	[MaGV] [int] NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[TyLeDongGop] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGTTL] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoTrinh_TienDo]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoTrinh_TienDo](
	[MaGTTL] [int] NOT NULL,
	[GiaoNhiemVu] [bit] NULL,
	[BienSoanNoiDung] [bit] NULL,
	[ThamDinhNoiDung] [bit] NULL,
	[GopYPhanBien] [bit] NULL,
	[SuaNoiDungThamDinh] [bit] NULL,
	[InAnPhatHanh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGTTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongBoKhoaHoc]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongBoKhoaHoc](
	[MaCB] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](300) NULL,
	[LoaiHinh] [nvarchar](50) NULL,
	[LinhVuc] [nvarchar](200) NULL,
	[TuKhoa] [nvarchar](200) NULL,
	[NamCongBo] [int] NULL,
	[NgayXuatBan] [date] NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[GioKhoaHoc] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongBo_TacGia]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongBo_TacGia](
	[MaCB] [int] NOT NULL,
	[MaGV] [int] NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[TyLeDongGop] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TongHopGioNCKH]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TongHopGioNCKH] AS
SELECT 
    GV.MaGV,
    GV.HoTen,

    -- Gio giao trinh (chỉ tính khi tiến độ hoàn thành)
    SUM(
        CASE 
            WHEN TD.GiaoNhiemVu = 1 AND TD.BienSoanNoiDung = 1 AND TD.ThamDinhNoiDung = 1 
                 AND TD.GopYPhanBien = 1 AND TD.SuaNoiDungThamDinh = 1 
                 AND TD.InAnPhatHanh = 1
            THEN GT.TongSoGioKhoaHoc * TG.TyLeDongGop
            ELSE 0
        END
    ) 
    +
    -- Gio cong bo khoa hoc
    SUM(CB.GioKhoaHoc * TGCB.TyLeDongGop)

    AS TongGioNCKH
FROM GiangVien GV
LEFT JOIN GiaoTrinh_TacGia TG ON GV.MaGV = TG.MaGV
LEFT JOIN GiaoTrinh GT ON TG.MaGTTL = GT.MaGTTL
LEFT JOIN GiaoTrinh_TienDo TD ON GT.MaGTTL = TD.MaGTTL
LEFT JOIN CongBo_TacGia TGCB ON GV.MaGV = TGCB.MaGV
LEFT JOIN CongBoKhoaHoc CB ON TGCB.MaCB = CB.MaCB
GROUP BY GV.MaGV, GV.HoTen;
GO
/****** Object:  Table [dbo].[HoiNghi]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiNghi](
	[MaHN] [int] IDENTITY(1,1) NOT NULL,
	[MaCB] [int] NULL,
	[TenHoiNghi] [nvarchar](200) NULL,
	[ThoiGianToChuc] [date] NULL,
	[DiaDiem] [nvarchar](200) NULL,
	[NhaXuatBan] [nvarchar](200) NULL,
	[DOI_ISBN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SangChe]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SangChe](
	[MaSC] [int] IDENTITY(1,1) NOT NULL,
	[TenSangChe] [nvarchar](300) NULL,
	[SoDonDangKy] [nvarchar](100) NULL,
	[NgayNopDon] [date] NULL,
	[CoQuanNopDon] [nvarchar](200) NULL,
	[TinhTrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SangChe_ChiTiet]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SangChe_ChiTiet](
	[MaSC] [int] NOT NULL,
	[SoBang] [nvarchar](100) NULL,
	[NgayCapBang] [date] NULL,
	[NgayCongBo] [date] NULL,
	[NgayBDHieuLuc] [date] NULL,
	[NgayKTHieuLuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SangChe_TacGia]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SangChe_TacGia](
	[MaSC] [int] NOT NULL,
	[MaGV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSC] ASC,
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TapChi]    Script Date: 12/3/2025 8:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TapChi](
	[MaTC] [int] IDENTITY(1,1) NOT NULL,
	[MaCB] [int] NULL,
	[TenTapChi] [nvarchar](200) NULL,
	[ISSN] [nvarchar](30) NULL,
	[XepHang] [nvarchar](50) NULL,
	[Trang] [nvarchar](50) NULL,
	[DOI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiaoTrinh_TienDo] ADD  DEFAULT ((0)) FOR [GiaoNhiemVu]
GO
ALTER TABLE [dbo].[GiaoTrinh_TienDo] ADD  DEFAULT ((0)) FOR [BienSoanNoiDung]
GO
ALTER TABLE [dbo].[GiaoTrinh_TienDo] ADD  DEFAULT ((0)) FOR [ThamDinhNoiDung]
GO
ALTER TABLE [dbo].[GiaoTrinh_TienDo] ADD  DEFAULT ((0)) FOR [GopYPhanBien]
GO
ALTER TABLE [dbo].[GiaoTrinh_TienDo] ADD  DEFAULT ((0)) FOR [SuaNoiDungThamDinh]
GO
ALTER TABLE [dbo].[GiaoTrinh_TienDo] ADD  DEFAULT ((0)) FOR [InAnPhatHanh]
GO
ALTER TABLE [dbo].[CongBo_TacGia]  WITH CHECK ADD FOREIGN KEY([MaCB])
REFERENCES [dbo].[CongBoKhoaHoc] ([MaCB])
GO
ALTER TABLE [dbo].[CongBo_TacGia]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[GiaoTrinh_TacGia]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[GiaoTrinh_TacGia]  WITH CHECK ADD FOREIGN KEY([MaGTTL])
REFERENCES [dbo].[GiaoTrinh] ([MaGTTL])
GO
ALTER TABLE [dbo].[GiaoTrinh_TienDo]  WITH CHECK ADD FOREIGN KEY([MaGTTL])
REFERENCES [dbo].[GiaoTrinh] ([MaGTTL])
GO
ALTER TABLE [dbo].[HoiNghi]  WITH CHECK ADD FOREIGN KEY([MaCB])
REFERENCES [dbo].[CongBoKhoaHoc] ([MaCB])
GO
ALTER TABLE [dbo].[SangChe_ChiTiet]  WITH CHECK ADD FOREIGN KEY([MaSC])
REFERENCES [dbo].[SangChe] ([MaSC])
GO
ALTER TABLE [dbo].[SangChe_TacGia]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[SangChe_TacGia]  WITH CHECK ADD FOREIGN KEY([MaSC])
REFERENCES [dbo].[SangChe] ([MaSC])
GO
ALTER TABLE [dbo].[TapChi]  WITH CHECK ADD FOREIGN KEY([MaCB])
REFERENCES [dbo].[CongBoKhoaHoc] ([MaCB])
GO
USE [master]
GO
